#customButton {
  position: absolute;
  top: 5em;
  left: 16em;
  width: 8em;
  height: 2em;
}
body {
  margin: 0;
  padding: 0;
}
canvas {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999; /* canvas always on top*/
  pointer-events: none; /* disable events for canvas*/
  display: block;
  overflow: hidden;

  background-color: rgba(0,0,0,0);
  /* border: 1px solid black; */
}
input {
  margin: 0;
  padding: 0;
}
input[type=button]{
  border: 0;
  outline: 0;

  color: white;

  background: #ee0979;
  background: linear-gradient(to right, #ee0979, #ff6a00);
}
/* input[type=range] {

}
input[type=number] {

}
input[type=checkbox] {

}
input[type=radio] {

} */

input[type=file] {
  position: absolute;
  top: 2em;
  left: 4em;
}
#_saveButton, #_loadButton {
  position: absolute;
  top: 5em;
  left: 4em;

  width: 8em;
  height: 2em;
  border: 1px solid black;
  padding: 4px;
  color: black;
  background:#708090;
  background: linear-gradient(to right, #708090, #F0F8FF);

}
#_saveButton {
  top: 10em;
  left: 4em;
  background: linear-gradient(to right, #F0F8FF,  #708090);
}
#_download {
  position: absolute;
  top: 10.6em;
  left: 3em;
}
#desc {
  position: absolute;
  top: 30%;
  right: 10%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  /* border:1px solid black; */
}
img {
  position:absolute;
  display: none;
}
